@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep it simple. No @apply = no Tailwind apply errors */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f7f7f9;
  color: #111111;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;
}

/* Optional nice scrollbars */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
